@import url(/styles/var.css);
@import url(/styles/components.css);

* {
    box-sizing: border-box;
    margin: 0;
}

/**Sections*/
/*first-section*/
#first-section {
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: flex-end;

    overflow: hidden;
    background: 0px -60px / cover no-repeat url(/images/main-imgs/kids-page.jpg) fixed;
}
